ul{
    font-size: 1.5vw;
}
input:focus{
    color: red;
}
/* pega o primeiro do tipo */
li:first-of-type{
    color: blue;
}
/* pega o que eu passar */
li:nth-of-type(2){
    color: orange;
}
/* (2n) divisible by 2, or -> even
li:nth-of-type(even){
    color: orange;
} */
li:nth-last-child(2){
    color: grey;
}
li:last-child{
    color: rgb(221, 129, 221);
}
li:nth-of-type(3n -2){
    background-color: rgb(176, 230, 179);
}
#cat {
    display: flex;
    width: 300px;
    transform: rotate(225deg);
    border-radius: 10%;
    margin: 20px 0 0 60px;
    /* transform: scale(0.5, 1) //half width, same height */
    /* transform: skew() hor x, vert y*/

}
#cat:hover{
    transform: scale(1.2);
}

#loadingIcon{
    width: 50px;
}
