p{
    font-size: 1.4vw;
}
p::first-line{ 
    color: red;
}

h1::first-letter{
    color: blue;
    font-size: 7vw;
}
li{
    list-style: none; 
    display: flex;
    align-items: center;
    justify-content: left;
}
li::before{
    content: '';
    display: inline-block;
    width: 3vw;
    height: 3vw;
    background: url(./finger.png) no-repeat;
    background-size: cover;
    margin: 0 5px;
}
li::after{
    content:"!!!";
    margin: 0 5px;
}
p::selection{
    background-color:rgb(153, 53, 247);
    color: yellow;
}