
.container{
    width: 100%;
    background-color: grey;
    height: 700px;
    display: flex;
    margin:auto;
    justify-content: center;
    flex-wrap: nowrap; 
}

.rect{
    width: 200px;
    height: 200px;
    color: white;
}
.r1{
    background-color: orange;
}
.r2{
    background-color: aqua;
}
.r3{
    background-color: green;
}
.r4{
    background-color: red;
    flex-shrink: 0; /* don't allow size to reduce: 0 and 1 */
    /* flex-grow: 1; allow to increase size, 2 = double size */
    display: flex;
    justify-content: end; /* aligns horizontal */
    align-items: center;  /* aligns vertical */
}